# the serial port where the rotaryboard can be found
port: COM4
# the credentials to access the foobar2000/beefweb api
foobar:
  url: http://localhost:8880
  # if authentication is enabled:
  username: foo
  password: bar
# the credentials/data to access mattermost
mattermost:
  url: http://localhost:8065
  token: topsecret
  team: myteam
  channel: mychannel
# the path to the irc notification state file (optional)
irc: X:/mIRC/leds.dat
# whether to disable numlock while locked
numlock: true
